<p>2 legged Oauth</p>
<%= link_to "Get your Trello Key", generate_trello_token_key_url, target: '_blank' %>

<%= simple_form_for @trello_account do |f| %>
  <fieldset>
    <%= f.input :name %>
    <%= f.input :token %>
    <%= f.submit 'Enter', class: "button radius" %>
  </fieldset>
<% end %>
