<article id="date-summary">
  <h5>Today: <%= date.to_s(:short) %> <small><%= Time.zone.name %></small></h5>
  <table>
    <tr data='total-wip'>
      <td>Total WIP</td>
      <td><%= @project.wip_count(date) %> cards</td>
    </tr>
    <tr>
      <td>Lead Time</td>
      <td><%= @project.lead_time(date) %> days</td>
    </tr>
    <tr>
      <td>Arrival Rate</td>
      <td>
        <%= @project.wip_count(date - @project.lead_time(date).days)  %>
        /
        <%= @project.lead_time(date) %>
        =
        <%= @project.arrival_rate(date) %> cards / day
      </td>
    </tr>
    <tr>
      <td>Total Capacity</td>
      <td><%= @project.capacity_count(date) %> cards</td>
    </tr>
    <tr>
      <td>Avg Lead Time over range</td>
      <td><%= @project.average_lead_time(@range) %> days</td>
    </tr>
    <tr>
      <td>Avg WIP over range</td>
      <td><%= @project.average_wip_count(@range) %> cards</td>
    </tr>
    <tr>
      <td>Avg Arrival Rate over range</td>
      <td><%= @project.average_arrival_rate(@range) %> cards / day</td>
    </tr>
    <tr>
      <td>Slow movers in WIP</td>
      <td>
        <%- slow_wip_card = @project.lists.wip.map(&:cards).flatten.max { |c| c.current_list_day_count } -%>
        <% if slow_wip_card -%>
        <%= link_to slow_wip_card.name, [@project, slow_wip_card] %>: <%= slow_wip_card.current_list_day_count %> days in <%= link_to slow_wip_card.list.name, [@project, slow_wip_card.list] %>
        <% end %>
      </td>
    </tr>
    <tr><td>Slow movers in each list</td></tr>
    <tr><td>Fast movers in WIP</td></tr>
    <tr><td>Fast movers in each list</td></tr>
  </table>
</article>

