<% title @project.name %>
<%= render_title_html %>
<%= render 'projects/sub_nav' %>
<section class="row">
  <%= render 'cumulative_flows/show', flow: @flow %>

  <article>
    <h5>Today: <%= today.to_s(:short) %></h5>
    <p>Time zone      : <%= Time.zone %>
    <p>Total WIP      : <%= @project.wip_count(today) %> cards</p>
    <p>Total Capacity : <%= @project.capacity_count(today) %> cards</p>
    <p>Lead Time      : <%= @project.lead_time(today) %> days</p>
    <p>Arrival Rate   :
        <%= @project.wip_count(today - @project.lead_time(today).days)  %>
        /
        <%= @project.lead_time(today) %>
        =
        <%= @project.arrival_rate(today) %> cards / day</p>
  </article>
</section>
