<% title "#{@project.name}" %>
<%= render_title_html %>
<%= render 'projects/sub_nav' %>
<section class="row">
  <div class="twelve columns">
    <h3><%= @flow.title %></h3>
    <div id="flow">
      <div id="chart_container">
        <div id="chart"></div>
        <div id="y_axis"></div>
        <div id="timeline"></div>
        <div id="slider"></div>
      </div>
      <div id="legend"></div>
    </div>
    <div id="lists" style="margin-top:30px">
      <% if @project.imported? %>
        <%= link_to 'Edit Cumulative Flow', edit_project_flow_path(@project) %>
        <% @project.lists.each do |list| %>
          <article id="<%= dom_id(list) %>" class="<%= dom_class(list) %>">
            <h4><%= link_to list.name, [@project, list] %></h4>
            <%= render 'lists/cards', list: list %>
          </article>
        <% end %>
      <% else %>
        <%= render 'importing' %>
      <% end %>
    </div>
  </div>
</section>
<script type="text/javascript">
  var seriesData = <%= raw @flow.to_json %>;

  new CumulativeFlow(seriesData).render();
</script>
