<% title "#{@project.name} Cumulative Flow" %>
<%= render_title_html %>
<%= render 'projects/sub_nav' %>
<section class="row">
  <div class="six columns">
    <div id="flow">
      <div id="chart_container">
        <div id="y_axis"></div>
        <div id="chart"></div>
      </div>
      <div id="legend"></div>
    </div>

    <% if @project.imported? %>
      <%= link_to 'Edit Cumulative Flow', edit_project_flow_path(@project) %>
      <% @project.lists.each do |list| %>
        <div>
          List: <%= list.name %>, Cards: <%= list.card_names.join(', ') %>
        </div>
      <% end %>
    <% else %>
      <%= render 'importing' %>
    <% end %>
  </div>
</section>
<script type="text/javascript">
  var series = <%= raw @project.interval_json(3.days.ago, Date.today).to_json %>;
  var graph = new Rickshaw.Graph({
    element: document.querySelector("#chart"),
    width: 550,
    height: 250,
    series: series
  });

  var xAxis = new Rickshaw.Graph.Axis.Time({ graph: graph });
  var yAxis = new Rickshaw.Graph.Axis.Y({
    graph: graph,
    orientation: 'left',
    tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
    element: document.querySelector("#y_axis")
  });
  var legend = new Rickshaw.Graph.Legend({
    element: document.querySelector("#legend"),
    graph: graph
  });
  graph.render();


  // d3.select("#flow")
  //   .select
</script>
