<% title "#{@project.name} Cumulative Flow" %>
<%= render_title_html %>
<%= render 'projects/sub_nav' %>
<section class="row">
  <div class="six columns">
    <div id="flow">
      <div id="chart_container">
        <div id="chart"></div>
        <div id="y_axis"></div>
        <div id="timeline"></div>
        <div id="slider"></div>
      </div>
      <div id="legend"></div>
    </div>

    <% if @project.imported? %>
      <%= link_to 'Edit Cumulative Flow', edit_project_flow_path(@project) %>
      <% @project.lists.each do |list| %>
        <div>
          List: <%= list.name %>, Cards: <%= list.card_names.join(', ') %>
        </div>
      <% end %>
    <% else %>
      <%= render 'importing' %>
    <% end %>
  </div>
</section>
<script type="text/javascript">
  var seriesData = <%= raw @project.interval_json(3.days.ago, Date.today).to_json %>;

  new CumulativeFlow(seriesData).render();
</script>
