<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= render_head_title %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sterno" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= body_classes %>">
    <header id="header" class="clear">
      <%= render 'layouts/navigation' unless bare_layout? %>
    </header>
    <%= render 'layouts/messages' %>
    <section id="main" role="main" class="row">
      <section class="twelve columns">
        <%= yield %>
      </section>
    </section>
    <footer>
      <%= render 'layouts/footer' unless bare_layout? %>
    </footer>
    <script type="text/javascript">
      <%= render_onready %>
    </script>
  </body>
</html>
